* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --top-counter: 135vw;
}

a {
  color: rgb(84, 120, 179);
}

a:hover {
  color: rgb(49, 72, 109);
}

body {
  background-color: #444;
}

figcaption {
  padding-left: 8.5vw;
  padding-right: 8.5vw;
  font-size: 1.8vw;
  text-transform: uppercase;
  font-family: 'Rajdhani', serif !important;
}

figcaption i {
  background-color: rgb(36, 144, 216);
  color: white;
  width: 3.75vw;
  height: 3.75vw;
  font-size: 1.7vw;
  border-radius: 50%;
}

h1, h2, h3, h4 {
  font-family: 'Rajdhani', 'sans-serif' !important;
}

img {
  width: inherit;
  height: inherit;
}

p {
  font-family:  'Roboto Slab', serif;
  font-weight: normal;
}

strong {
  color: black !important;
}


.author {
  margin-top: 0.5vw;
  font-size: 1.9vw;
  line-height: 2.6vw;
}

.author a {
  font-size: 2.08vw;
}

.description {
  background-color: #ddd;
  margin-top: 1.4vw;
  height: 15.2vw;
  border-right: rgb(175, 164, 12) solid 1.7vw;
  border-radius: 2px;
  overflow: hidden;
}

.description figure {
  height: inherit;
}

.description p {
  color: #333;
  font-size: 1.5vw;
  text-align: justify;
  padding-right: 1.8vw;
  padding-left: 4vw;
}

.divider {
  background-color: #333;
  width: 12vw;
  margin-top: 4vw;
  margin-bottom: 0.5vw;
  border-bottom: 0.2vw solid;
}

.figure-1 {
  width: 100%;
  height: 62vw;
}

.figure-1 img {
  margin-top: 0.3vw;
  margin-bottom: 0.1vw;
}

.figure-2 {
  width: 100%;
  height: 60vw;
}

.figure-2 img {
  margin-top: 1vw;
  padding: 0 12vw;
}

.first-letter {
  color: rgb(175, 164, 12);
  width: 10vw;
  height: 16.5vw;
  font-size: 20vw;
  padding-top: 1vw;
  margin-right: 2vw;
  float: left;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-inline-center {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.font-rajdhani {
  font-family: 'Rajdhani', serif !important;
}

.footnote {
  font-size: 1.3vw !important;
  color: black !important;
  line-height: 2vw !important;
}

.footer {
  margin: 8vw;
}

.main-figure {
  height: 91vw;
  margin-top: 4vw;
}

.m-0 {
  margin: 0 !important;
}

.page {
  background-color: #fff;
  width: 100%;
  height: 141.43vw;
  margin-bottom: 1vw;
  overflow: hidden;
}

.page-counter {
  color: #333;
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4vw;
}

.page-counter strong {
  font-size: 1.5vw;
  margin: 1vw;
}

.page-counter-6 {
  top: var(--top-counter);
  left: 8.5vw;
}

.page-counter-7 {
  top: calc(142.43vw + var(--top-counter));
  right: 8.5vw;
}

.page-counter-8 {
  top: calc(2 * 142.43vw + var(--top-counter));
  left: 8.5vw;
}

.page-counter-9 {
  top: calc(3 * 142.43vw + var(--top-counter));
  right: 8.5vw;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pt-1 {
  padding-top: 6vw !important;
}

.reference {
  text-align: justify;
  font-size: 1.3vw;
  line-height: 2.2vw;
}

.text {
  padding-left: 8.5vw;
  padding-right: 8.5vw;
  padding-bottom: 10vw;
}

.text p {
  color: #333;
  margin-bottom: 2.7vw;
  line-height: 3vw;
  text-align: justify;
  text-indent: 3vw;
  font-size: 2.12vw;
}

.text-column {
  padding-top: 10vw;
  column-count: 2;
  column-gap: 4vw;
}

.text-indent-0 {
  text-indent: 0 !important;
}

.text-gray {
  color: #666;
  font-weight: lighter;
}

.title {
  width: 87vw;
  margin-top: 11vw;
  padding-top: 2%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.title h1 {
  font-size: 7vw;
  font-weight: bold;
  line-height: 10.9vw;
}

.title h1 span {
  font-size: 11.59vw;
  font-weight: bolder !important;
}

.title h2 {
  font-size: 3.8vw;
}

.title .subtitle-box {
  background: rgb(175, 164, 12);
  height: 6.2vw;
  color: white;
  margin: -1vw 1px 1px;
  border-radius: 4.5px;
}
